body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, #360033, #0b8793);
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.3s all;
}


.container {
    background-color: white;
    width: 80%;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 10px;
}

.desc {
    text-align: center;
}

.form {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

input {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}


.input:focus {
    outline: none;
    scale: 1.02;
}

.form .input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #e0e0e0;
}

.add {
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

.add:hover {
    scale: 1.04;
    background-position: right center;
}

.tasks {
    padding: 10px 40px;
    border-radius: 10px;
}

.list {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h3 {
    line-height: 30px;
    margin: 0 5px;
    width: 90%;
}

button {
    padding: 10px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
}

button:hover {
    scale: 1.1;
}




.doneBtn {
    background-color: green;
}

i {
    z-index: 10000;
}


@media (max-width: 400px) {
    .form {
        display: block;
        place-items: center;
        padding: 20px;
        overflow: hidden;
    }

    .form .input {
        width: 70%;
        overflow: hidden;
    }

    .add {
        margin-top: 10px;
        padding: 10px;
    }

    .container {
        padding: 10px 20px;
    }


}