body {
    font-family: 'Courier New', Courier, monospace;
}

* {
    font-family: 'Courier New', Courier, monospace;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}

.form {
    background-color: #ececec;
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr ;
    gap: 10px;
    padding: 30px 60px;
    border-radius: 10px;
}

.form .input {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

.form .add, .delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.tasks {
    background-color: #ececec;
    width: 80%;
    padding: 30px 60px;
    border-radius: 10px;
    gap: 30px;
}

.list {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h3 {
    
}

.delete {
}